#album{
    height: 550px;
    display: flex;
    justify-content: center;
    


  }
 
  .img-div{
    width: 576px;
    height: 364px;
    margin-left: -30px;
   

  }
  .img-div img{
    width: 100%;
  }
  .description{
    width: 530px;
    height: 218px;
    margin-left: 30px;
    position: relative;
  }
  .toast{
    width: 263px;
    height: 46px;
    position: absolute;
    right: -100px;
    top: 60px;
    
  }
  #pricing{
    height: 600px;

  }
  .card-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .card-container{
    width: 235px;
    height: 390px;
    margin: 20px 15px;
  }
  .card-container ul li{
    margin-left: -31px;
    list-style: none;
    padding: 2px 30px;
    font-size: 15px;
    background-image: url('./other-image/9004700_tick_check_mark_accept_icon\(1\).png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px;
    
    
  }
  .active-card{
    background-color: #3f87f5;
    width: 280px;
    height: 480px;
    color: white;
    border-radius: 20px;
    margin-bottom: 80px;
    position: relative;
    
   
  }
  .hot{
    background-color: red;
    width: 40px;
    height: 28px;
    text-align: center;

    
    border-radius: 10px;
    position: relative;
    top: -10px;
    left: 220px;
  }
  #client-section{
    height: 600px;
    margin-top: 40px;
  }
  .client-container{
    display: flex;
    justify-content:center;
    margin-top: 100px;
   
  }
  .card{
    width:306px;
    height: 323px;
    margin: 0px 30px;
    border: none;
  }
  .card-img-bottom{
    width: 100px;

  }
  #faq-section{
    height: 700px;
  }
  .faq-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .accordion{
    width:552px;
    /* height: 500px; */
    margin-right: 35px ;
    border: 1px dotted #3f87f5;
    border-radius:5px;
    
    
    }
    .accordion-item{
      border: 1px solid #3f87f5;
    }
    footer{
      height: 240px;
      background-color: #0b0d17;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo-img{
      width:135px;
      height: 40px;
      display: block;
      margin: 15px 0px;
      border: 1px solid #DDDDDD;
      border-radius: 5px;

    }
    .logo{
      margin-right: 100px;
    }
    .copyright{
      margin-left: 100px;
    }
 @media only screen and (max-width:480px){
  #banner-section{
    width: 100%;
  }
  .carousel{
    width: 100%;
  }
  .carousel-item{
    width: 100%;
  }
  .carousel-item img{
      height: 80vh;
      object-fit: cover;
  }
  .carousel-caption{
      margin-bottom: 20px;
  }
  .navbar-brand{
      font-size: 17px;
  }
  #album{
    width: 95%;
    margin-top:-20px;
    margin-left: 11px;

  }
  .img-div{
    width: 100%;
    margin: 0 auto;
    height: auto;
   
  }
  .img-div img{
    width:98%;
  }
  .description{
    width: 95%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 25px;
    margin-top: 40px;
  }
  .toast{
    width: 250px;
    height: 46px;
    position: absolute;
   left: 25px;
    top: -20px;
    
  }
  #pricing{
    width: 100%;
    height: auto;
  }
  .card-main-container{
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }
  .card-container{
    width: 90%;
    height: auto;
    margin: 10px 0px;
    
  }
  .active-card{
    background-color: #3f87f5;
    width:90%;
    height: auto;
    color: white;
    margin-bottom: 0px;
    
    
   
  }
  .hot{
    left: 120px;
  }
  #client-section{
    height:auto;
    margin-top:0px;
  }
  .client-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 40px;
   
  }
  .card{
    width:85%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
    border: none;
  }
  .card-img-bottom{
    width: 100px;

  }
  #faq-section{
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .faq-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .accordion{
    width:95%;
    height: auto;
    margin-right: 0px ;
    
    
    }
    .faq-img{
      width: 95%;
      margin-bottom: 20px;
    }
    .faq-img img{
      width: 100%;
    }
    footer{
      height: auto;
      background-color: #0b0d17;
      display: flex;
      flex-direction: column-reverse;
      justify-content:center;
      align-items: center;
    }
    footer h5{
      margin-top: 20px;
    }
    .logo-img{
      width:90%;
      height:40px;
      display: block;
      margin: 15px 0px;
      border: 1px solid #DDDDDD;
      border-radius: 5px;

    }
    .logo{
      margin-right:0px;
    }
    .copyright{
      margin-left: 0px;
      font-size: 12px;
      width: 80%;
      margin-bottom: 20px;
    }


}